{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    {% if comments %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Comment</th>
                <th>Author</th>
            </tr>
            </thead>

            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.comment }}</td>
                    <td> {{ comment.author }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Recipes to Display</p>
    {% endif %}

    <a href="{{ path('recipe_list') }}">back to list</a>

{% endblock %}