{% extends 'base.html.twig' %}

{% block body %}
    <h1>Whoops! Something went wrong....</h1>

    <h2>404 - error, not found</h2>

    <p>
        Sorry - the item/page that you were looking for could not be found
    </p>
{% endblock %}